.main-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 70%; */
    gap: 30px;
}

.main-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 20px;
}

.form-label {
    display: block;
    margin-bottom: 6px;
    color: var(--body-txt-clr);
}

.input {
    width: 100%;
    background-color: var(--input-clr);
    border: 1px solid rgba(159, 160, 163, 0.1);
    border-radius: 8px;
    padding: 12px;
    transition: border-color .3s;
}

.input:focus {
    border: 1px solid var(--primary-clr);
    color: var(--primary-clr);
}

.input::placeholder {
    color: var(--placeholder-clr);
}

.form-textarea {
    padding: 20px;
    font-family: inherit;
}

option:hover {
    background-color: var(--primary-clr) !important;
    color: white;
}